# Database: {{ source.name }}

{% if source.nested -%}
Source: `{{ source.id }}`

Backend: `{{ source.backend }}`

{% endif -%}
{% if source.namespaces -%}
## Namespaces

| Name | Comment |
|---|---|
{% for namespace in source.namespaces -%}
| {{ namespace.name }} | {{ namespace.comment or "-" }} |
{% endfor %}

{% endif -%}
{% if source.tables -%}
## Tables

{% for object in source.tables -%}
- [{{ object.qualified_name }}](tables/{{ object.file_name }})
{% endfor %}

{% endif -%}
{% if source.views -%}
## Views

{% for object in source.views -%}
- [{{ object.qualified_name }}](views/{{ object.file_name }})
{% endfor %}

{% endif -%}
{% if source.triggers -%}
## Triggers

{% for object in source.triggers -%}
- [{{ object.qualified_name }}](triggers/{{ object.file_name }})
{% endfor %}

{% endif -%}
