# Database: {{ source.name }}

{% if source.nested -%}
Source: `{{ source.id }}`

Backend: `{{ source.backend }}`

{% endif -%}
{% if source.namespaces -%}
## Namespaces

| Name | Comment |
|---|---|
{% for namespace in source.namespaces -%}
| {{ namespace.name }} | {{ namespace.comment or "-" }} |
{% endfor %}

{% endif -%}
{% for pair in [("Enum Types", "enums", source.enums), ("Tables", "tables", source.tables), ("Views", "views", source.views), ("Triggers", "triggers", source.triggers), ("Functions", "functions", source.functions)] -%}
{% if pair[2] -%}
## {{ pair[0] }}

{% for object in pair[2] -%}
- [{{ object.qualified_name }}]({{ pair[1] }}/{{ object.file_name }})
{% endfor %}

{% endif -%}
{% endfor -%}
