# Database: `{{ name }}`

## Tables

{% for table_doc in table_docs -%}
{{ table_doc }}

{% endfor -%}

{% if views -%}
## Views

{% for view in views -%}
### `{{ view.namespace }}.{{ view.name }}`

| Column | Type | Nullable |
|---|---|---|
{% for col in view.columns -%}
| `{{ col.name }}` | `{{ col.data_type }}` | {% if col.nullable is none %}unknown{% elif col.nullable %}yes{% else %}no{% endif %} |
{% endfor %}

```sql
{{ view.definition }}
```

{% endfor -%}
{% endif -%}

{% if triggers -%}
## Triggers

{% for trigger in triggers -%}
### `{{ trigger.namespace }}.{{ trigger.name }}`

**{{ trigger.timing }} {{ trigger.event.event }}** on `{{ trigger.target_namespace }}.{{ trigger.target }}`{% if trigger.event.columns is defined and trigger.event.columns %} of `{{ trigger.event.columns | join(", ") }}`{% endif %}.

{% if trigger.when_expression -%}
When: `{{ trigger.when_expression }}`

{% endif -%}
```sql
{{ trigger.definition }}
```

{% endfor -%}
{% endif -%}

{% if functions -%}
## Functions

{% for function in functions -%}
### `{{ function.namespace }}.{{ function.name }}{{ function.signature }}`

{% if function.comment -%}
{{ function.comment }}
{% endif -%}

{% if function.definition -%}
```sql
{{ function.definition }}
```
{% endif -%}

{% endfor -%}
{% endif -%}
