{% if context.sources | length == 1 -%}
# Database: {{ context.sources[0].name }}

{% else -%}
# Database Context

{% endif -%}
{% for source in context.sources -%}
{% include source.single_file_template -%}
{% endfor -%}
