{{ function.heading }} {{ function.qualified_name }}

{% if function.comment -%}
{{ function.comment }}

{% endif -%}
{% for fact in function.facts -%}
**{{ fact.label }}:** {{ fact.value }}

{% endfor -%}
{% if function.definition -%}
{{ function.definition }}
{% endif -%}
