{{ heading }} {{ object.qualified_name }}

{% if object.comment -%}
{{ object.comment }}

{% endif -%}
{% for fact in object.facts -%}
**{{ fact.label }}:** {{ fact.value }}

{% endfor -%}

| Column | Type | Nullable |
|---|---|---|
{% for column in object.columns -%}
| {{ column.name }} | {{ column.data_type }} | {{ column.nullable }} |
{% endfor %}

{% if object.indexes -%}
{{ detail_heading }} Indexes

| Name | Terms | Unique | Origin / details | Predicate |
|---|---|---|---|---|
{% for index in object.indexes -%}
| {{ index.name }} | {{ index.terms }} | {{ index.unique }} | {{ index.origin }} | {{ index.predicate }} |
{% endfor %}

{% endif -%}
{{ object.definition }}
